<div class="row">
  <div class="col">
    <h1>Wikis</h1>
  </div>
  <div class="col">
    <%= link_to 'New Wiki', new_wiki_path, class: 'btn btn-success float-right mt-2' %>
  </div>
</div>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th>Private</th>
      <th>User</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @wikis.each do |wiki| %>
      <tr>
        <td><%= link_to wiki.title, wiki_path(wiki) %></td>
        <td><%= markdown(wiki.body) %></td>
        <td><%= wiki.private %></td>
        <td><%= wiki.user.email %></td>
        <td><%= link_to 'Show', wiki %></td>
        <td><%= link_to 'Edit', edit_wiki_path(wiki) %></td>
        <td>
          <% if policy(wiki).destroy? %>
            <%= link_to 'Destroy', wiki, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
