<!DOCTYPE html>
<html>
  <head>
    <title>Blocpedia</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% flash.each do |name, msg| %>
  <div class="alert alert-<%= name %>">
    <%= msg %>
  </div>
  <% end %>
  <%= render 'navigation/navbar' %>
    <%= yield %>
  </body>
</html>
