<div class="row">
  <div class="col-md-8">

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>

    <div class="form-group">
      <%= f.input :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="form-group">
      <%= f.input :password, autocomplete: "off", class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.input :password_confirmation, autocomplete: "off", class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.input :current_password, autocomplete: "off", class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.submit "Update", class: 'btn btn-primary' %>
    </div>
  <% end %>
  </div>
  <div class="col-md-4 text-center">
    <% if current_user.role == "standard" %>
      <h3 class="p-2">Upgrade to Premium</h3>
      <%= link_to "Upgrade", new_charge_path, class: 'btn btn-block btn-success' %>
    <% end %>
    <% if current_user.role == "premium" %>
      <h3 class="p-2">Downgrade to Standarad</h3>
      <%= link_to "Downgrade", downgrade_account_path, data: { confirm: "Are you sure? ALL of your private wikis will be set to public." }, method: :post, class: 'btn btn-block btn-warning' %>
    <% end %>
    <% if current_user.role.present? %>
      <h3 class="p-2">Cancel my account</h3>
      <%= link_to "Cancel my Account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'btn btn-block btn-danger' %>
    <% end %>
  </div>
</div>
